* {
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --main-background: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* start Components*/
.special-heading {
  text-align: center;
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ebeced;
  letter-spacing: -3px;
}
.special-heading + p {
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 0px;
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 25px;
  padding-bottom: 5px;
}
.links {
  position: relative;
}
.container .links .icon {
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}
.container .links .icon:hover span:nth-child(2) {
  width: 100%;
}

.container .links .icon span {
  margin-bottom: 5px;
  background-color: #333;
  height: 2px;
}

.container .links .icon span:first-child {
  width: 100%;
}
.container .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.container .links .icon span:last-child {
  width: 100%;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
  position: absolute;
  right: 0;
  top: calc(100% +2px);
  min-width: 200px;
  transition: 0.3s;
  display: none;
}
.container .links:hover ul {
  display: block;
  z-index: 99999;
}
.links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 3px;
  top: -14px;
}
.links ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px;
  transition: 0.3s;
  display: block;
}
.links ul li:not(:nth-child(4)) a {
  border-bottom: 1px solid #ddd;
}

.links ul li a:hover {
  padding-left: 25px;
  color: var(--main-color);
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(/images/pexels-pixabay-355770.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
}
.intro-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  text-shadow: #333;
  font-size: 50px;
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 19px;
  color: #333;
}
/* End Landing Section */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.features .container .feat {
  padding: 20px;
  text-align: center;
}
.features .container .feat i {
  color: var(--main-color);
}
.features .container .feat h3 {
  margin: 30px 0;
  font-weight: 800;
}
.features .container .feat p {
  color: #777;
  font-size: 17px;
  line-height: 1.8;
}
/*End feature */
/*Start services*/
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
/**/
.container .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-top: 100px;
}
.container .service-content .col .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .container .service-content .col .srv {
    flex-direction: column;
    text-align: center;
  }
}
.container .service-content .col .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.container .service-content .col .srv .text {
  flex: 1;
}
.container .service-content .col .srv .text h3 {
  margin-top: 0;
  margin-right: 0;
}
.container .service-content .col .srv .text p {
  font-weight: 300;
  color: #777;
  line-height: 1.4;
}
.container .service-content .col .image {
  position: relative;
  text-align: center;
}
@media (max-width: 1199px) {
  .image-colom {
    display: none;
  }
}
.container .service-content .col .image img {
  height: 260px;
}
.container .service-content .col .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 30px);
  top: -15px;
  right: 0;
  z-index: -1;
}
/*
Start section Portfolio
*/
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-background);
  width: 100%;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-top: 100px;
}
.portfolio .portfolio-content .card img {
  height: 200px;
  width: 360px;
}
.portfolio .card .info {
  background-color: white;
  margin-top: 0px;
  padding: 15px;
  width: 360px;
}
.portfolio .info h3 {
  margin: 0;
}
.portfolio .info p {
  color: #777;
  font-size: 17px;
  line-height: 1.6;
}
/*Start section About*/
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.about .about-content .image {
  position: relative;
  height: 400px;
  width: 300px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 50px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 150px;
  height: calc(100% + 80px);
  background-color: #797979;
  z-index: -1;
  top: -40px;
  left: -30px;
}
.about .about-content .image::after {
  content: "";
  border-bottom: 92px solid var(--main-color);
  height: 300px;
  position: absolute;
  width: 180px;
  border-left: 92px solid var(--main-color);
  left: 255px;
  top: -41px;
  z-index: -1;
}

@media (max-width: 991px) {
  .about .about-content .image::after,
  .about .about-content .image::before {
    display: none;
  }
}
.about .about-content .image img {
  height: 400px;
  width: 300px;
}
.about .about-content .texte {
  padding-left: 310px;
}
@media (max-width: 991px) {
  .about .about-content .texte {
    text-align: center;
    flex-direction: column;
    padding: 0;
  }
}
.about .about-content .texte p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 40px;
}
.about .about-content .texte hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}
.about .about-content .texte p:last-of-type {
  font-weight: bold;
  line-height: 2;
  color: #777;
}

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
/*contact*/
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
